
/* Smooth row look */
.table-row {
  background-color: #f8f9fa;
  border-radius: 8px;
}

  /* Hover effect */
  .table-row:hover {
    background-color: #eef1f4;
  }

/* Table spacing */
.table td, .table th {
  vertical-align: middle;
  padding: 14px;
}

/* Buttons spacing */
.btn-sm {
  border-radius: 6px;
}

.toast-container {
  z-index: 9999;
}

 
.nav-link {
  border-radius: 6px;
  padding: 8px 12px;
}

  .nav-link.active {
    background-color: #0d6efd;
    color: white !important;
  }
/* SIDEBAR */
.sidebar {
  width: 220px;
  min-width: 220px;
  height: 100%;
  background-color: #212529;
  transition: all 0.3s ease;
}

  /* COLLAPSED STATE */
  .sidebar.collapsed {
    width: 0;
    min-width: 0;
    padding: 0;
    overflow: hidden;
  }

/* NAV LINKS */
.nav-link {
  border-radius: 6px;
  padding: 8px 12px;
}

  .nav-link.active {
    background-color: #0d6efd;
    color: white !important;
  }

/* CONTENT */
.content {
  transition: all 0.3s ease;
}
.fc-event-title,
.fc-event-time {
  display: none !important;
}

.fc-timegrid-event {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.fc-timegrid-event-harness {
  margin: 4px 6px;
}
.fc-event-title,
.fc-event-time,
.fc-event-main-frame {
  display: none !important;
}
