<div class="card shadow-sm border-0 mb-3">

  <!-- HEADER -->
  <div class="card-header bg-dark text-white">
    <div class="fw-semibold">Book Appointment</div>
    <small class="text-light opacity-75">Home / Appointment / Book</small>
  </div>

  <!-- BODY -->
  <div class="card-body py-2">

    <form (ngSubmit)="submit()">

      <!-- ROW 1 -->
      <div class="row g-2 align-items-end">

        <div class="col-md-3">
          <label class="small text-muted">Doctor</label>
          <select class="form-select form-select-sm"
                  [(ngModel)]="model.doctorId"
                  name="doctorId"
                  required>
            <option value="">Doctor</option>
            <option *ngFor="let d of doctors" [value]="d.id">
              {{ d.name }} - {{ d.specialization }}
            </option>
          </select>
        </div>

        <div class="col-md-3">
          <label class="small text-muted">Patient Name</label>
          <input class="form-control form-control-sm"
                 placeholder="Patient Name"
                 [(ngModel)]="model.patientName"
                 name="patientName"
                 required />
        </div>

        <div class="col-md-3">
          <label class="small text-muted">Patient Email</label>
          <input class="form-control form-control-sm"
                 placeholder="Email"
                 [(ngModel)]="model.email"
                 name="email"
                 required />
        </div>

        <div class="col-md-3">
          <label class="small text-muted">Patient Phone</label>
          <input class="form-control form-control-sm"
                 placeholder="Phone"
                 [(ngModel)]="model.phone"
                 name="phone"
                 required />
        </div>

      </div>

      <!-- ROW 2 -->
      <div class="row g-2 align-items-end mt-1">

        <div class="col-md-3">
          <label class="small text-muted">Date of Birth</label>
          <input type="date"
                 class="form-control form-control-sm"
                 [(ngModel)]="model.dateOfBirth"
                 name="dateOfBirth" [max]="today"/>
        </div>

        <div class="col-md-3">
          <label class="small text-muted">Appointment Date</label>
          <input type="date"
                 class="form-control form-control-sm"
                 [(ngModel)]="model.appointmentDate"
                 name="appointmentDate"
                 required [min]="today"/>
        </div>

        <div class="col-md-2">
          <label class="small text-muted">StartTime</label>
          <input type="time"
                 class="form-control form-control-sm"
                 [(ngModel)]="model.startTime"
                 name="startTime"
                 required />
        </div>

        <div class="col-md-2">
          <label class="small text-muted">EndTime</label>
          <input type="time"
                 class="form-control form-control-sm"
                 [(ngModel)]="model.endTime"
                 name="endTime"
                 required />
        </div>

        <div class="col-md-2">
          <button class="btn btn-primary btn-sm w-100">
            Book
          </button>
        </div>

      </div>

      <!-- ROW 3 (Notes) -->
      <div class="row mt-2">
        <div class="col-md-12">
          <textarea class="form-control form-control-sm"
                    placeholder="Notes"
                    [(ngModel)]="model.notes"
                    name="notes"></textarea>
        </div>
      </div>

    </form>

  </div>

</div>
